<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Capstone_P</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginPage</servlet-name>
  	<servlet-class>LoginPage</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>EmpListPage</servlet-name>
  	<servlet-class>EmpListPage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>RegisterUserPage</servlet-name>
  	<servlet-class>RegisterUserPage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ClockPage</servlet-name>
  	<servlet-class>ClockPage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SettingsPage</servlet-name>
  	<servlet-class>SettingsPage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>PasswordPage</servlet-name>
  	<servlet-class>PasswordPage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>PasswordRecovery</servlet-name>
  	<servlet-class>PasswordRecovery</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>PasswordReset</servlet-name>
  	<servlet-class>PasswordReset</servlet-class>
  </servlet>
  
</web-app>

